@page  "{currentpage:int?}"
@model RazorPagesUsers.Pages.UserPages.PaginatedIndexModel

<h2>Pagination Example</h2>

<table class="table table-striped">
    @foreach (var item in Model.Data)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.EmailAddress</td>
        </tr>
    }
</table>
<div>
    <ul class="pagination">
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a asp-page="./PaginatedIndex" asp-route-currentpage="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</div>
